* {margin:0; padding:0; box-sizing:border-box;  font-size: 13px; font-family: 'Avenir LT Std' !important;}
.container { max-width: 1250px; margin: 0 auto; padding: 20px; }




ul, ul li  {list-style:none; margin:0;}
input[type="checkbox"], 
input[type="radio"] { border: 1px solid #dddbda; -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 17px; height: 17px; border-radius: 1px; vertical-align: top; margin-top: 3px;}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before { content: ''; border-right: 2px solid #fff; border-bottom: 2px solid #fff; width: 5px; height: 10px; display: block; transform: rotate(45deg); margin-left: 5px; margin-top: 1px; }
input[type="checkbox"]:checked, input[type="radio"]:checked {background:#0f4fbd; border-color:#0f4fbd;}

.slds-scope button.btnStyle { background: #0f4fbd; border: 1px solid #0f4fbd; color: #fff; font-size: 12px !important; padding: 5px 10px; cursor: pointer; font-family: 'Avenir LT Roman ' !important; text-transform: uppercase; font-weight: 600 !important; }
button.btnStyle:hover { background: #0b43a2; }
.slds-scope button.btn1Style { background: #69bd28; border: 1px solid #69bd28; color: #fff; font-size: 14px !important; padding: 8px 16px; cursor: pointer; font-family: 'Avenir LT Roman ' !important; text-transform: uppercase; font-weight: 600 !important; letter-spacing: 1px;}
button.btn1Style:hover { background: #69bd28; }
.slds-scope button.btn2Style { background: #4b504c; border: 1px solid #4b504c; color: #fff; font-size: 14px !important; padding: 5px 10px; cursor: pointer; font-family: 'Avenir LT Roman ' !important; font-weight: 600 !important; letter-spacing: 1px; border-radius: 0;}
button.btn2Style:hover { background: #4b504c; }

.smlBtmSpace {padding-bottom:8px;}
img.logos {max-width:250px; vertical-align: middle;}
.txtCenter {text-align:center;}

.slds-scope .head_babyLogo {width:100%; max-width:300px; margin: 0 25px;}
.slds-scope .head_toyLogo {width:100%; max-width:250px; margin: 0 25px;}

.slds-scope .toyLogo { width: 100%; max-width: 130px; display: block; }
.slds-scope .babyLogo { width: 100%; max-width: 157px; display: block; }
.slds-modal__content .slds-col {padding-left:15px; padding-right:15px;}
a.shopBtn { color: rgb(0, 109, 204); font-weight: 600; margin-top: 15px; display: block; }
ul.language { background: #0f4fbd; display: flex; justify-content: flex-end; padding: 8px; color: #fff; margin-bottom: 25px; }
li.spaceLine {margin: 0 4px;}
.leftSpace { padding-left: 100px; padding-right: 100px;}
.sectionHead { color: #0f4fbd;font-size: 16px; line-height: 30px; font-weight: 600; }
h4.smlTitle { color: #0f4fbd;font-size: 22px; font-weight: bold; padding: 0 0 15px; display: block; margin-left: 0; }

.section { padding-bottom: 25px; }
.btmSpace{padding-bottom: 30px; font-weight: 500 !important;}
p.psgStyle { padding-bottom:15px;}
.slds-scope h4.toysColor { color: #0f4fbd; display: block; padding: 4px 0; font-weight:600; }
.slds-scope h4.babiesColor { color: #624d89; display: block; padding: 4px 0; font-weight:600; }
ul.listStyle > li { padding-left: 25px; position: relative; margin-bottom: 18px;}
input.checkStyle { position: absolute; left: 0; margin-top: 3px;}
.checkLabel {line-height:20px;}
.langSec {line-height:20px;}
.list table tr td{ display:block; padding-bottom: 15px;}

.slds-modal__content { text-align: center; padding: 25px;}
.slds-modal__content > b { padding: 25px 0; display: block; }
.slds-scope .slds-modal__container {max-width:450px;}


.langSec input[type="radio"] {margin-top:0; margin-right: 4px;}
.checkGrid > li {margin-left: .75rem; margin-right:.75rem}
.borderStyle { border-bottom: 1px solid #d7dcdf; box-shadow: 0px 1px 2px 0px rgb(215 220 223 / 65%); margin-bottom: 20px; }
ul.checkGrid > li { padding-right: 35px;}
p {font-size: 16px;}
p.postal {
    color: #bd290f;
    font-size: 14px;
}

input[type=text],
.slds-scope .slds-input {
    background: #fff;
    border: 1px solid;
    border-color: hsl(219deg 55% 94%);
    border-radius: 5px;
    box-shadow: 0 3px 5px hsla(218, 85%, 40%, 0.3);
    color: #000;
    font-size: 16px;
    height: 40px;
    outline: none;
    padding: 0 12px;
    transition: ease .4s;
    vertical-align: baseline;
    width: 100% !important;
    margin: 8px 0;
}

body .bPageBlock,
body .secondaryPalette.bPageBlock {
    background-color: transparent;
    border: none;
}

/*Changed by me*/
body .bPageBlock .pbBody .dataCol.first.last {
    padding-left: 0;
}

.apexp .bPageBlock.apexDefaultPageBlock .pbBody {
    margin: 0;
}

.requiredBlock {display: none;}

.bPageBlock .detailList .labelCol {width: 30%;}
body .bPageBlock .pbBody .labelCol,
.slds-scope .slds-form-element_horizontal .slds-form-element__label {
    display:flex;
    align-items: center;
    /* justify-content: flex-end; */
    width: 100%;
    min-height: 64px;
    min-width: 108px;
}

.slds-scope .slds-form-element_horizontal .slds-form-element__label {
    max-width: 15%;
    font-weight: bold;
}

body .bPageBlock .pbBody .labelCol.empty,
body .bPageBlock .pbBody .dataCol.empty {
    display: none;
}

body .bPageBlock .pbBody .labelCol label,
.slds-scope .slds-form-element_horizontal .slds-form-element__label {
    color: #0f4fbd;
    font-size: 14px;
}

.slds-form-element__label.slds-no-flex {
    color: #0f4fbd;
    font-size: 16px;
    font-weight: bold;
}

body .bPageBlock .pbBody .labelCol.first label {
    font-weight: bold;
}

input[type=radio],
input[type=checkbox] {
    appearance: none;
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20fill%3D%27%230f4fbd%27%20width%3D%2712px%27%20height%3D%2721px%27%3E%3Cpath%20d%3D%27M12.647%201.857L6.302%207.674c-.47.43-1.232.43-1.702%200L1.325%204.67a1.04%201.04%200%200%201%200-1.56%201.28%201.28%200%200%201%201.702%200l2.424%202.223L10.944.297a1.28%201.28%200%200%201%201.703%200%201.04%201.04%200%200%201%200%201.56z%27%2F%3E%3C%2Fsvg%3E) center 11px no-repeat;
    background-size: 0;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(15, 79, 189) 0px 0px 0px 1px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin-top: 18px;
    margin-right: 8px;
    transition: all .1s ease;
    width: 22px;
    position: absolute;
}

input[type=radio] + label,
input[type=checkbox] + label {
    padding-left: 30px;
    height: 22px;
    padding-top: 20px;
    display: block;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background: #fff;
    border-color: #0f4fbd;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
    content: '';
    border-right: 2px solid #0f4fbd;
    border-bottom: 2px solid #0f4fbd;
    width: 5px;
    height: 10px;
    display: block;
    transform: rotate(45deg);
    margin-left: 9px;
    margin-top: 4px;
}

.slds-scope .slds-form-element_horizontal:not(.slds-is-editing) {
    display: flex;
    padding: 0;
}

.slds-scope .slds-form-element_horizontal .slds-form-element__control {
    padding-left: 0;
    clear: inherit;
}

lightning-datepicker {
    width: 100%;
}

.slds-dropdown-trigger.slds-dropdown-trigger_click {
    display: flex;
}

.slds-scope .slds-input-has-icon .slds-input__icon {
    right: 25px;
    transform: translateY(-80%);
}

.slds-scope .slds-input-has-icon .slds-input__icon svg {
    width: 20px;
    height: 20px;
}

body .bPageBlock .detailList tr th,
body .bPageBlock .detailList tr td {
    border-color: none;
    border-bottom: none;
}

.slds-scope .slds-button_neutral,
.slds-scope .slds-button_neutral:hover {
    background: transparent;
    border: none;
}

.slds-scope .btnStyle button { border: none; color: #69bd28; font-size: 14px !important; padding: 5px 10px 5px 28px; cursor: pointer; font-weight: 600 !important; }
.slds-scope .btnStyle button:hover,
.slds-scope .btnStyle button:focus { color: #69bd28;}
.slds-scope .btnStyleblue button { border: none; color: #0F4FBD; font-size: 14px !important; padding: 5px 10px 5px 24px; cursor: pointer; font-weight: 600 !important; }

.slds-scope .btnStyle button::before {
    content: "+";
    display: block;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 3px;
}

.slds-scope .btnStyleblue button::before {
    content: "-";
    display: block;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 3px;
}

.postal-code-input {
    max-width: 250px;
}

.apexp .bPageBlock .detailList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bPageBlock .detailList .data2Col {
    width: 100%;
}

.pbSubsection .data2Col tr {
    display: flex;
    flex-direction: row;
}

.pbSubsection .data2Col td {
    display: flex;
    padding-right: 40px;
}

.pbSubsection .data2Col td label {
    order: 0;
    padding-left: 0;
    width: 54px;
}

.pbSubsection .data2Col td input[type=radio],
.pbSubsection .data2Col td input[type=checkbox] {
    position: relative;
    order: 1;
}

body .bPageBlock .pbBody .labelCol, .slds-scope .slds-form-element_horizontal .slds-form-element__label {
    display: inline-grid;
    align-items: center;
    float: right;
    justify-content: flex-start;
    width: 100%;
    min-height: 64px;
    min-width: 108px;
}

.bPageBlock .detailList .data2Col {
    width: 100%;
}
/*
.pbSubsection>.detailList >tbody>tr>th {
    display: flex;
    order: 1;
}
.pbSubsection>.detailList >tbody>tr>td {
    display: flex;
    order: 0;
}
*/
body .bPageBlock .pbBody .tr-wrapper .labelCol.first label {
    color: #0f4fbd;
    font-weight: 700;
    font-size: 18px;
}

body .bPageBlock .pbBody .tr-wrapper .labelCol label {
    color: #000;
    font-weight: 500;
}
.interests-wrapper .pbSubsection .detailList tr.disabled-element .labelCol label{
    color: lightgray;
}
.interests-wrapper .pbSubsection .detailList tr.disabled-element .data2Col input[type=checkbox]{
    box-shadow: rgb(184 184 185) 0px 0px 0px 1px;
}


@media only screen and (min-width: 768px) {
    .interests-wrapper .pbBody table .tr-wrapper {
        display: flex;
    }

    .interests-wrapper .pbSubsection .detailList tr {
        display: flex;
        flex-direction: row-reverse;
    }

    body .interests-wrapper .bPageBlock .pbBody .labelCol {
        text-align: left;
    }

    body .interests-wrapper .bPageBlock .pbBody .labelCol label {
        padding-top: 3px;
    }

    .interests-wrapper .pbBody table .tr-wrapper .data2Col  {
        width: 46px;
    }
}

@media only screen and (max-width: 768px) {
    .leftSpace {
        padding: 0 25px;
    }

    body .bPageBlock .pbBody .labelCol {
        width: 90%;
    }

    .pbSubsection .detailList tr {
        position: relative;
        width: 100%;
        /* height: 80px; */
        height: 30px;
    }
    .pbSubsection .detailList tr:nth-child(4) {
        display: none;
    }
    .pbSubsection .detailList tr:nth-child(5) {
        display: flex;
        flex-direction: column;
    }

    .pbSubsection .detailList tr:nth-child(5) th {
        min-height: auto;
    }
    .pbSubsection .detailList tr:nth-child(5) .data2Col {
        padding: 0;
    }
    .pbSubsection .detailList tr:nth-child(5) .data2Col tr {
        display: flex;
        flex-direction: column;
    }
    .pbSubsection .detailList tr th label {
        position: absolute;
        top: 0;
        left: 0;
    }

    .pbSubsection .detailList tr td input[type=text] {
        position: absolute;
        top: 16px;
        left: 0;
        max-width: 320px;
    }

    .bPageBlock .requiredInput {
        position: inherit;
    }

    body .bPageBlock .pbBody .dataCol {
        padding: 0;
    }

    body .bPageBlock .pbBody .tr-wrapper .labelCol label {
        padding-left: 35px;
        padding-top: 4px;
        text-align: left;
    }

    body .bPageBlock .pbBody .tr-wrapper .labelCol.first {
        margin-bottom: 10px;
    }

    .interests-wrapper .pbSubsection .detailList tr {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        height: 100%;
        min-width: 320px;
    }
    body .interests-wrapper .bPageBlock .pbBody .labelCol {
        min-height: 32px;
        min-width: auto;
    }

    .interests-wrapper .pbBody table .tr-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .interests-wrapper .pbBody table .tr-wrapper td  {
        width: 100% !important;
    }

    .interests-wrapper .pbBody table .tr-wrapper .data2Col  {
        width: 5% !important;
    }

    .interests-wrapper .pbSubsection .detailList tr .dataCol .pbSubsection .detailList tr {
        min-height: 65px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .interests-wrapper .pbSubsection .detailList tr .data2Col input.babyMasterClass {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.toyMasterClass {
        position: absolute;
        top: -16px;
        left: 1px;
    }

    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass01 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass02 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass03 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass04 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass05 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass06 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass07 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass08 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass09 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass10 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass11 {
        position: absolute;
        top: -16px;
        left: 1px;
    }

    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass12 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass13 {
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col input.inputClass14 {
        position: absolute;
        top: -16px;
        left: 1px;
    }

    .interests-wrapper .pbSubsection .detailList tr .dataCol {
        width: 100%;
    }
    .interests-wrapper .pbSubsection .detailList tr .data2Col .pbSubsection tr {
        display: flex;
        flex-direction: row;
    }

    /*Changed by me*/
    .interests-wrapper .pbBody .detailList {
        padding-bottom: 20px;
    }

    /*Changed by me*/
    /* .language-select-wrapper .apexp .bPageBlock .detailList tr .dataCol .detailList tbody > tr .data2Col {
        background-color: magenta;
    }

    .language-select-wrapper .apexp .bPageBlock .detailList tr .dataCol .detailList tbody > tr .labelCol   {
        background-color: green;
    } */


    /*Changed by me*/
    .language-select-wrapper .pbSubsection .data2Col td label{
        padding: 0;
        font-size: 14px;
    }

    .language-select-wrapper .pbSubsection .data2Col td input[type=radio] {
        margin: 0;
    }

    .language-select-wrapper .bPageBlock .labelCol.vfLabelColTextWrap {
        min-height: 30px;
    }

    .language-select-wrapper .bPageBlock .labelCol.vfLabelColTextWrap,
    .language-select-wrapper .bPageBlock .pbBody .data2Col,
    .language-select-wrapper .bPageBlock .pbBody .data2Col {
        padding: 0;
    }

    .language-select-wrapper .pbBody .dataCol.first.last .pbSubsection .detailList > tbody > tr:first-child,
    .language-select-wrapper .pbBody .dataCol.first.last .pbSubsection .detailList > tbody > tr:last-child{
        display: none;
    }
}
